{
    "user": {
        "id": null,
        "name": "kezzkezz",
        "passwordHash": null
    },
    "switcher": {
        "bitrateSwitcherEnabled": true,
        "onlySwitchWhenStreaming": false,
        "instantlySwitchOnRecover": true,
        "autoSwitchNotification": true,
        "retryAttempts": 5,
        "triggers": {
            "low": 450,
            "rtt": 2500,
            "offline": 300
        },
        "switchingScenes": {
            "normal": "Main",
            "low": "Lowbitrate",
            "offline": "Main"
        },
        "streamServers": [{
            "streamServer": {
                "type": "SrtLiveServer",
                "statsUrl": "http://changeip:8183/stats",
                "publisher": "live/stream/belabox"
            },
            "name": "SRT",
            "priority": 0,
            "overrideScenes": null,
            "dependsOn": null,
            "enabled": true
        }]
 
    },
  "software": {
    "type": "Obs",
    "host": "changeip",
    "password": "BQWmmegBrFN5B3fl",
    "port": 4465
    },
    "chat": {
        "platform": "Twitch",
        "username": "streamer name here",
        "admins": [
            "streamer name here and other usernames with , to seperate names"
        ],
        "prefix": "!",
        "enablePublicCommands": false,
        "enableModCommands": true,
        "enableAutoStopStreamOnHostOrRaid": true,
        "commands": {
            "Fix": {
                "permission": null,
                "alias": [
                    "f"
                ]
            },
            "Switch": {
                "permission": "Mod",
                "alias": [
                    "ss"
                ]
            },
            "Bitrate": {
                "permission": null,
                "alias": [
                    "b"
                ]
            }
        }
    },
    "optionalScenes": {
        "starting": null,
        "ending": null,
        "privacy": "privacy",
        "muted": "muted",
        "refresh": null
    },
    "optionalOptions": {
        "twitchTranscodingCheck": false,
        "twitchTranscodingRetries": 5,
        "twitchTranscodingDelaySeconds": 15,
        "offlineTimeout": null,
        "recordWhileStreaming": false
    },
    "language": "en"
}
